<h1 class='question_title' > <%= @question.title %></h1>
<p>
  <%= @question.description %>
</p>

<%= button_to "Edit Question", edit_question_path(@question), method: :get, class: 'success button' %>
<%= button_to "Delete Question", @question, method: :delete, class: 'alert button' %>

<%= render partial: "answer", collection: @answers %>

<%= form_for [@question, @answer] do |f| %>

  <%= f.text_area :description, placeholder: "Your Answer Here", size: "20x6" %>


  <%= f.submit "Post Answer", class: 'button' %>

<% end %>
